# Python
__pycache__/
*.pyc

# Notebook checkpoint
.ipynb_checkpoints/

# Model
*.pth
*.pt
*.onnx
*.tflite

# Dataset
dataset/raw/
dataset/processed/

# Output
outputs/

# Google Colab
sample_data/

# VSCode
.vscode/

# Mac
.DS_Store
